body {
    background-image: url(https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.weather-widget{
    text-align: center;
    color: whitesmoke;
}