body {
    background-image: url(https://img.freepik.com/vecteurs-libre/vecteur-dessin-anime-neon-paysage-nuit-metropolis_1441-3163.jpg?size=626&ext=jpg);
    background-size: cover;
}
.weather-widget{
    text-align: center;
    color: whitesmoke;
}